.form {
  height: max-content;
  width: 800px;
  text-align: center;
  margin: 50px auto auto auto;
  padding: 10px;
}

.form-label {
  display: flex;
  padding-left: 14px;
  font-size: large;
}

.form-input {
  border: 2px solid #ae45ff;
  border-radius: 15px;
  height: fit-content;
}

