.NavBar {
  background-color: #ae45ff;
}

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: xx-large;
}

.navbar-brand:hover {
  color: #6600b4;
}


.navbar-brand:focus {
  color: white;
}

.button {
  font-weight: 600;
}

.button:hover {
  background-color: white;
  color: #ae45ff;
  font-weight: 600;
}

.button:focus {
  background-color: white;
  color: #ae45ff;
  font-weight: 600;
}