.card {
  border: 3px solid #ae45ff;
  border-radius: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 18rem;
  height: fit-content;
}

img {
  width: 18rem;
  margin-top: 10px;
  border-radius: 20px;
}

.title {
  font-weight: 700;
  font-size: xx-large;
}

p {
  display: flex;
  text-align: start;
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: large;
}

ul {
  text-align: start;
  justify-content: center;
  text-align: start;
}

.li {
  display: flex;
}

.button {
  font-weight: 600;
  background-color: #ae45ff;
  border: 2px solid #ae45ff;
}

.button:hover {
  border: 2px solid #ae45ff;
  background-color: white;
  color: #ae45ff;
  font-weight: 600;
}

.button:focus {
  color: #ae45ff !important;
  border: 2px solid #ae45ff !important;
  background-color: white !important;
  font-weight: 600 !important;
  outline: none !important;
}

@media (min-width: 0px) {
  body {
    padding-top: 50px;
  }
}
