.div {
  border: 2px solid #AE45FF;
  border-radius: 20px;
  margin-top: 10px;
  width: 800px;
  text-align: center;
  margin: 50px auto auto auto;
  padding: 10px;
}

.button {
  background-color: #AE45FF;
  border: none;
}

.button:hover {
  background-color: #9d22fc;
}

@media (min-width: 0px) {
  body {
    padding-top: 50px;
  }
}
