.col {
  border: 2px solid #ae45ff;
  border-radius: 20px;
  text-align: center;
  margin-top: 50px;
}

img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin-top: 10px;
  border-radius: 20px;
}

ul {
  text-align: start;
  justify-content: center;
  text-align: start;
}

.li {
  display: flex;
}

.button {
  background-color: #ae45ff;
  border: none;
}

.button:hover {
  background-color: #9d22fc;
}

@media (min-width: 0px) {
  body {
    padding-top: 50px;
  }
}
